<h1 align=center>HOLA A TODOS</h1>

<h1 align=center>Critique artistique<b>

</h1></b>

<p>
Test avant
</p>
<LI>1
<LI>2
<LI>3
</br>
</br>
<IMG SRC="https://images7.alphacoders.com/507/507906.png" height=400 align=middle>
